<div @onclick="OnClick" @onclick:stopPropagation="true" class="border-4 border-dashed border-transparent hover:border-inherit cursor-pointer">
    @ChildContent 
</div>

@code {
    private int _top = 0;
    private int _left = 0;
    private bool _building = false;
    public string Status { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    //private void Callback(MouseEventArgs obj)
    //{
    //    Status = "onmousedown";
    //}

    //private void OnMouseUp(MouseEventArgs obj)
    //{
    //    Status = "onmouseup";
    //}

    //private void OnClick(MouseEventArgs args)
    //{
    //    _building = true;
    //    _left = 1;
    //    _left = 300;
    //    StateHasChanged();
    //}
}
